@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');

$black-black: #000;
$black-primary: #161616;
$text-def: rgba(255, 255, 255, 0.921);
$accent-oceangray: #6e8ba9;
$lighter-white: rgb(180, 180, 180);
$accent-bronze: #c9ae5d;

@mixin default-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: Akira-Expanded;
  src: url(/fonts/Akira-Expanded.ttf);
}

@font-face {
  font-family: Schabo-Condensed;
  src: url(/fonts/SCHABO-Condensed.woff2);
}

// @mixin font-main() {
//   font-family: Akira-Expanded;
// }

// @mixin font-bold() {
//   font-family: Schabo-Condensed;
// }

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(10, 10, 10);
  overflow-x: hidden;

  ::selection {
    background-color: $accent-oceangray;
    color: $black-black;
  }

  #blob {
    width: 100%;
    height: 150%;
    background: linear-gradient(#8585853b, #00000096);
    // border-radius: 50%;
    position: absolute;
    pointer-events: none;
    filter: blur(13em);
    // left: -5em;
    // top: -5em;
    // animation: blob-anim 5s infinite ease;
    z-index: -1;
    // opacity: 10%;

    @keyframes blob-anim {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

#main-container {
  width: 70vw;
  margin: 0 auto;

  .header {
    @include default-flex();
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1rem;
    top: 5rem;
    position: absolute;
    width: 70vw;

    .profile-info-container {
      @include default-flex();
      justify-content: space-between;
      padding: 1rem;
      width: 100%;

      .profile-info-left {
        width: 70%;
        @include default-flex();
        justify-content: start;

        .prof-img {
          width: 50px;
          border-radius: 50%;
          transition: 0.3s ease;

          &:hover {
            box-shadow: -5px 5px 0px $accent-bronze;
          }
        }

        .prof-text {
          color: white;
          margin-left: 1rem;
          font-size: 1.7rem;
          font-weight: 700;
        }
      }

      .profile-info-right {
        width: 30%;
      }
    }

    .navbar {
      width: 100%;
      @include default-flex();
      justify-content: space-evenly;
      margin: 1em;
      padding: 2em;
      // background: rgb(255 255 255 / 14%);
      backdrop-filter: blur(24px);
      border: 2px solid rgba(255 255 255 / 14%);
      border-radius: 10px;

      .btn {
        outline: none;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        transition: transform ease 0.3s;
        font-weight: bold;

        &:hover:nth-child(1) {
          transform: translateX(-5px);
          color: $text-def;
        }

        &:hover:nth-child(2) {
          transform: translateY(5px);
          color: $text-def;
        }

        &:hover:nth-child(3) {
          transform: translateY(-5px);
          color: $text-def;
        }

        &:hover:nth-child(4) {
          transform: translateX(5px);
          color: $text-def;
        }
      }

      a {
        text-decoration: none;
        color: $lighter-white;
      }

      #hovering {
        text-decoration: underline;
        text-underline-offset: 7px;
        text-decoration-color: $accent-oceangray;
      }
    }
  }

  .main {
    width: 70vw;
    position: absolute;
    top: 20em;
    padding: 1rem;
    @include default-flex();
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 0 4em 0;

    .inner-main-1 {
      width: 100%;
      margin: 2rem 0;
      margin-left: 40px;

      .i-m-1-text {
        font-size: 1.8rem;
        text-decoration: underline;
        text-underline-offset: 6px;
        color: $text-def;
      }
    }

    .inner-main-2 {
      width: 100%;
      font-size: 0.8rem;
      border: 1px solid $lighter-white;
      padding: 1rem;
      border-radius: 15px;
      border-bottom: none;
      border-left: none;

      .overlayShn {
        position: absolute;
        left: -5rem;
        top: 0rem;
        filter: saturate(0);
        pointer-events: none;
      }

      .i-m-2-intro {
        padding: 0.5rem 0 1rem 0;
        text-align: justify;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.723);
        font-size: 1.1rem;
        font-family: 'Roboto', sans-serif;
      }

      .i-m-2-mid-1 {
        padding: 0.5rem 0 1rem 0;
        text-align: justify;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.723);
        font-size: 1.1rem;
        font-family: 'Roboto', sans-serif;
      }

      .i-m-2-end {
        padding: 0.5rem 0 1rem 0;
        text-align: justify;
        color: rgba(255, 255, 255, 0.723);
        line-height: 25px;
        font-size: 1.1rem;
        font-family: 'Roboto', sans-serif;
      }
    }

    .inner-main-3 {
      width: 100%;
      margin-top: 5em;

      .im3-line {
        position: absolute;
        top: 38em;
        left: 17em;
        z-index: -1;
        width: 100%;

        .svg-container {
          width: 100%;
          overflow: hidden;

          .maelstromCirc {
            width: 80em;
            filter: invert(1);
            // animation: circ-anim 40s infinite ease;

            @keyframes circ-anim {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
          }
        }
      }

      .i-m-3-head {
        width: 100%;

        .i-m-3-head-text {
          font-size: 1.7rem;
          color: $text-def;
          text-decoration: underline;
          text-underline-offset: 6px;
        }
      }
    }

    .i-m-3-list {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      margin-top: 2em;

      .im3-1 {
        width: 100%;
        @include default-flex();
        padding: 1.5em;
        margin: 1em;
        font-size: 2rem;
        transition: 0.2s ease;
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0.465);
        border-radius: 15px;
        font-weight: bold;
        backdrop-filter: blur(15px);

        &:hover {
          border: 2px solid $accent-oceangray;
        }
      }

      .im3-2 {
        width: 100%;
        @include default-flex();
        padding: 1.5em;
        margin: 1em;
        font-size: 2rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0.465);
        border-radius: 15px;
        font-weight: bold;
        backdrop-filter: blur(15px);

        &:hover {
          border: 2px solid $accent-oceangray;
        }
      }

      .im3-3 {
        width: 100%;
        @include default-flex();
        padding: 1.5em;
        margin: 1em;
        font-size: 2rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0.465);
        border-radius: 15px;
        font-weight: bold;
        backdrop-filter: blur(15px);

        &:hover {
          border: 2px solid $accent-oceangray;
        }
      }

      .im3-4 {
        width: 100%;
        @include default-flex();
        padding: 1.5em;
        margin: 1em;
        font-size: 2rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0.465);
        border-radius: 15px;
        font-weight: bold;
        backdrop-filter: blur(15px);

        &:hover {
          border: 2px solid $accent-oceangray;
        }
      }

      .im3-5 {
        width: 100%;
        @include default-flex();
        padding: 1.5em;
        margin: 1em;
        font-size: 2rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0.465);
        border-radius: 15px;
        font-weight: bold;
        backdrop-filter: blur(15px);

        &:hover {
          border: 2px solid $accent-oceangray;
        }
      }

      .im3-6 {
        width: 100%;
        @include default-flex();
        padding: 1.5em;
        margin: 1em;
        font-size: 2rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0.465);
        border-radius: 15px;
        font-weight: bold;
        backdrop-filter: blur(15px);

        &:hover {
          border: 2px solid $accent-oceangray;
        }
      }

      .im3-7 {
        width: 100%;
        @include default-flex();
        padding: 1.5em;
        margin: 1em;
        font-size: 2rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0.465);
        border-radius: 15px;
        font-weight: bold;
        backdrop-filter: blur(15px);

        &:hover {
          border: 2px solid $accent-oceangray;
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  a {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 860px) {
  a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 760px) {
  a {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 660px) {
  a {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 560px) {
  .navbar {
    flex-direction: column;
    padding: 1em;
    width: 80vw;
    align-items: baseline;
  }

  a {
    font-size: 1rem;
  }

  .main {
    width: 100vw;
    top: 25em;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 450px) {
  #blob {
    width: 5em;
    height: 5em;
  }

  #main-container {
    width: 100vw;
    margin: 0;
    overflow: hidden;

    .header {
      top: 2rem;
      width: 100vw;

      .profile-info-container {
        flex-direction: column;
        align-items: start;
      }

      .navbar {
        flex-direction: column;
        padding: 1em;
        width: 80vw;
        align-items: baseline;

        .btn {
          margin: 0.5rem 0;
        }
      }
    }

    .main {
      width: 100vw;
      top: 25em;
      margin: 0 auto;

      .inner-main-1 {
        @include default-flex();
        margin-left: 0;
      }

      .inner-main-2 {
        line-height: normal;

        .overlayShn {
          left: 0;
        }
      }

      .inner-main-3 {
        .im3-line {
          position: absolute;
          top: 55em;
          left: 0em;
          z-index: -1;
          width: 100%;

          .svg-container {
            width: 100%;
            overflow: hidden;

            .maelstromCirc {
              width: 70em;
              animation: circ-anim 60s infinite ease;

              @keyframes circ-anim {
                from {
                  transform: rotate(0deg);
                }
                to {
                  transform: rotate(360deg);
                }
              }
            }
          }
        }

        .i-m-3-head {
          @include default-flex();
        }
      }
    }
  }
}
